* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$search-bar-border: #e6e6e6;
$result-color: #70757a;
$clear-button-color: #d9d9d9;
$background-color: #fff;
$font-color: #222;
$primary-color: #6C0F90;
$link-color: #1a0dab;
$link-visited-color: #609;
$link-outline-color: #000;
$font-stack: "Roboto", sans-serif;

%flex {
    display: flex;
    align-items: center;
}

@mixin flexColumn {
    @extend %flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin flexCenter {
    @extend %flex;
    justify-content: center;
}

@mixin mediaQuery($size) {
    @media only screen and (min-width: $size) {
        @content;
    }
}

html,
body {
    background-color: $background-color;
    color: $font-color;
    width: 100vw;
    min-height: 100vh;
    font-family: $font-stack;
    font-size: 20px;
    overflow-x: hidden;
}

main {
    @include flexColumn;
    min-height: calc(100vh - 60px);
}

footer {
    width: 100%;
    height: 60px;
    @include flexCenter;

    p {
        color: $result-color;
        font-size: 0.5rem;

        @include mediaQuery(768px) {
            font-size: 1rem;
        }

        a {
            color: $result-color;
        }
    }
}

img {
    display: block;
    width: 100%;
    height: 100%;
}
