.results {
    @include flexColumn;
    padding: 0.5rem 1rem;
    width: 90vw;

    @include mediaQuery(768px) {
        width: 75vw;
    }

    @include mediaQuery(1025px) {
        width: 55vw;
    }

    .resultBar {
        width: 100%;

        .result {
            color: $result-color;
            font-size: 0.75rem;

            @include mediaQuery(768px) {
                font-size: 1rem;
            }
        }
    }

    .searchResults {
        width: 100%;

        .resultItem {
            @include flexColumn;
            width: 100%;
            padding: 0.35rem 0;

            @include mediaQuery(768px) {
                padding: 0.5rem 0;
            }

            .resultTitle {
                width: 100%;
                text-align: left;
                font-size: 1rem;
                line-height: 1.5rem;
                margin-bottom: 0.25rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 3px 2px;

                @include mediaQuery(768px) {
                    font-size: 1.5rem;
                    line-height: 1.75rem;
                    margin-bottom: 0.5rem;
                }

                a {
                    color: $link-color;
                    text-decoration: none;
                    cursor: pointer;
                }

                a:visited {
                    color: $link-visited-color;
                }

                a:hover {
                    text-decoration: underline;
                }

                a:focus {
                    outline: 2px solid $link-outline-color;
                }
            }

            .resultContents {
                display: flex;
                width: 100%;

                .resultImage {
                    margin-right: 0.75rem;

                    img {
                        width: 50px;
                        height: 50px;

                        @include mediaQuery(768px) {
                            width: 60px;
                            height: 60px;
                        }

                        @include mediaQuery(1025px) {
                            width: 70px;
                            height: 70px;
                        }
                    }
                }

                .resultText {
                    flex-grow: 1;
                    font-size: 14px;
                    line-height: 20px;
                    max-height: 60px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    @include mediaQuery(768px) {
                        font-size: 1rem;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
