.searchEntry {
    @include flexColumn;
    padding-top: 40px;

    .logo {
        font-size: 1.75rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        @include mediaQuery(768px) {
            font-size: 3.5rem;
        }
    }

    .searchBar {
        width: 90vw;
        display: flex;
        border: 2px solid $search-bar-border;
        border-radius: 500px;
        padding: 0.15rem 0.25rem 0.15rem 0.75rem;

        @include mediaQuery(768px) {
            width: 80vw;
            padding: 1.25rem 1.5rem;
        }

        @include mediaQuery(1025px) {
            width: 60vw;
        }

        input[type="text"] {
            flex-grow: 1;
            font-size: 0.75rem;
            text-align: left;
            letter-spacing: 0.1rem;
            border: 0;
            outline: none;
            min-width: 150px;

            @include mediaQuery(768px) {
                font-size: 1.25rem;
            }
        }

        .button {
            cursor: pointer;
            border: 0;
            background: transparent;
            min-width: 48px;
            min-height: 48px;
            outline: none;

            i {
                font-size: 1rem;

                @include mediaQuery(768px) {
                    font-size: 1.5rem;
                }
            }
        }

        .button:hover,
        .button:focus {
            i {
                color: lighten($primary-color, 10%);
            }
        }

        .searchButton {
            @include mediaQuery(768px) {
                padding-left: 1rem;
            }
        }

        .clear {
            justify-content: center;
            align-items: center;
            color: $result-color;
            border-right: 1px solid $clear-button-color;

            @include mediaQuery(768px) {
                padding: 0 1rem;
            }
        }
    }

    .searchBar:hover,
    .searchBar:focus-within {
        box-shadow: 0 1px 2px 1px $search-bar-border;
    }
}
