.primary-color {
    color: $primary-color;
}

.tilt {
    display: inline-block;
    font-size: 2rem;
    transform: rotate(12deg);

    @include mediaQuery(768px) {
        font-size: 4rem;
    }
}

.offscreen {
    position: absolute;
    left: -10000px;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}
